
body{
	margin: 0;
}
.signin{
	font-size: 20px;
	padding:2px;
	border-radius: 48%;
	border: 1px solid snow;
	height: 40px;
	width:  45px;
}


.signin:hover{
	color: snow;
	font-size: 20px;
	padding:2px;
	border-radius: 48%;
	border: 1px solid grey;
	height: 40px;
	width:  45px;
}


.navbar{
	margin: 0px;
	padding: 0px;
}


.navbar ul{
	font-size: 14px;
	color: #424949;
	text-decoration: none;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
}


.navbar ul li{
display: inline;
padding: 5px;
text-decoration: none;
}


.fa-th{
	font-size:80px
}


.fa{
	font-size:80px
}


#google{
	text-align: center;
}


.form{
	
	text-align: center;
	
	

}


.form1{
	width: 600px;
	border: solid 1px #D6DBDF;
	font-size: 40px;
	text-align: center;
	border-radius: 50px;
	background-color: white;
box-shadow: 1px 1px 5px 4px #F2F4F4 ;
}


.lang ul{
	font-size: 14px;
	color: #424949;
	text-decoration: none;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}


.lang ul li{
	padding: 5px;
display: inline;
}


.lang ul li a{
text-decoration: none;
}


.lang ul li a:hover{
text-decoration: underline;
}


.google_search{
	color: #424949;
	border-radius: 5px;
	height:38px;
	background-color: #F2F4F4;
	border-style: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}


.google_search:hover{
	color: black;
	border-radius: 5px;
	height:38px;
	background-color: #F2F4F4;
	border-style: none;
	border: solid 1px #D6DBDF;
}


.buttons{
	margin-top: 40px;
	text-align: center;
}


.container1{
	padding: 0px;
	border: solid 1px #D6DBDF;
	margin: 0px;
	height:40px;
	background-color: #F2F4F4;
}


.p{
	font-size: 14px;
	padding-left: 23px;
	color: #424949;
	font-family: Arial, Helvetica, sans-serif;
}


.container{
	padding: 0px;
	border: solid 1px #D6DBDF;
	margin: 0;
	height:40px;
	background-color: #F2F4F4;
}


.footer ul{
	font-size: 14px;
	padding-left: 14px;
	color: #424949;
	text-decoration: none;
	float: left;
}


.footer ul li{
display: inline;
padding: 8px;
margin: 0px;
font-family: Arial, Helvetica, sans-serif;
}


.footer2 ul{
	font-size: 14px;
	padding-left: 14px;
	color: #424949;
	text-decoration: none;
	float: right;
}


.footer2 ul li{
display: inline;
padding: 8px;
margin: 0px;
font-family: Arial, Helvetica, sans-serif;
}

.search{
	position: absolute;
	margin-left: 30px;
	margin-top: 15px;
	opacity: 0.5;
}

.microphone{
	position: absolute;
	margin-left: 550px;
	margin-top: 15px;
}